* {
    box-sizing: border-box;
}
body {
    background-image: url(file.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f0f0f0; /* Light text color for contrast */
    text-align: center;
    margin: 0;
    padding: 0;
}

.hd {
    text-align: center;
    padding: 20px;
    color: #8a2be2; /* Blue Violet */
    font-weight: bold;
    font-size: 48px;
}

.menu-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu {
    border: 1px solid #4b0082; /* Indigo */
    border-radius: 10px;
    background-color: #dda0dd; /* Plum */
    color: #4b0082; /* Indigo */
    font-weight: bold;
    font-size: 18px; /* Increased font size */
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    flex: 1;
    min-width: 150px;
}

a:hover {
    color: #ba55d3; /* Medium Orchid */
}

a:link {
    color: #4b0082; /* Indigo */
    text-decoration: none;
}

.main {
    border: 1px solid #4b0082; /* Indigo */
    background-color: #d8bfd8; /* Thistle */
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
    color: #4b0082; /* Indigo */
    width: 70%; /* Slightly decreased width */
}

.tab {
    border: 1px solid #4b0082; /* Indigo */
    border-radius: 15px;
    background-color: #d8bfd8; /* Thistle */
    margin-left: auto;
    margin-right: auto;
    width: 70%; /* Slightly decreased width */
    color: #4b0082; /* Indigo */
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 20px;
}

.yel {
    color: #dda0dd; /* Plum */
}

.red {
    color: #8a2be2; /* Blue Violet */
}

.green {
    color: #dda0dd; /* Plum */
}

.brown {
    color: #4b0082; /* Indigo */
}

.home {
    border: 1px solid #4b0082; /* Indigo */
    border-radius: 5px;
    background-color: #dda0dd; /* Plum */
    color: #4b0082; /* Indigo */
    font-style: italic;
    font-weight: bold;
    text-align: center;
    height: 50px;
    padding: 10px;
    float: left;
    clear: both;
    width: 160px; /* Decreased width */
}

table {
    border: 2px solid #4b0082; /* Indigo */
    text-align: center;
    padding: 10px;
    width: 85%; /* Slightly decreased width */
    margin: auto;
    background-color: #d8bfd8; /* Thistle */
}

tr:hover {
    background-color: #dda0dd; /* Plum on hover */
    color: #4b
